# Python byte-compiled and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
logs/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checker / caches
.mypy_cache/
.dmypy.json

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store

# Environment variables
.env
.env.*
